.tableWrapper{
  background: rgba(0, 0, 0, 0.06);
  padding: 50px;

}

.table{

}

.input{
  border: 1px solid rgba(128, 128, 128, 0.4);
}
.delete{
  border-radius: 4px;
  background-color: rgba(95, 158, 160, 0.62);
  padding: 1px 15px;
  margin-left: 5px;
}

.add{
  border-radius: 4px;
  background-color: rgba(95, 158, 160, 0.62);
  padding: 1px 15px;
  width: 100%;
  margin-top: 15px;
}